@import '../../../assets/styles/base.scss';

.repository {
  color: $color__white;
  margin: 10px 0;
  .repository__content {
    border-radius: 5px;
    background-color: $color__primary;
    min-height: 20px;
  }
  .repository__header {
    padding: 10px 40px 10px 10px;
    background-color: $color__tertiary;
    h4 {
      font-size: 18px;
      margin: 0px;
    }
    a {
      position: absolute;
      right: 10px;
      top: 0px;
      font-size: 24px;
    }
  }

  .repository__description {
    @extend %scrollBar;
    padding: 10px;
    height: 100px;
    overflow-y: auto;
    color: $color__secundary;
  }
  .repository__footer {
    padding: 10px;
    min-height: 20px;
    border-top: 1px solid $color__tertiary;
    color: $color__secundary;
    ul {
      padding: 0px;
      list-style: none;
      margin: 0px;
      li {
        padding-right: 10px;
        font-size: 12px;
        display: inline-block;
        svg {
          font-size: 14px;
          margin-bottom: 3px;
        }
      }
    }
  }
}
