@import "../../../assets/styles/styles.scss";

.respos {
  color: $color__white;
  margin: 10px 0;
  .respos__content {
    border-radius: 5px;
    background-color: $color__primary;
    min-height: 20px;
  }
  .respos__header {
    padding: 10px;
    background-color: $color__tertiary;
  }
  .respos__description {
    padding: 10px;
    height: 100px;
    min-height: 20px;
  }
}
