@import '../../../assets/styles/styles.scss';

.body {
  background-color: $color__secundary;
  text-align: left;
  .body__right {
    height: calc(100vh - 66px);
    overflow-y: auto;
    padding: 15px 30px;
  }
}
