.carduser {
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  height: calc(100vh - 66px);
  .carduser_avatar {
    text-align: center;
    img {
      width: 80%;
      max-width: 200px;
      height: auto;
    }
  }

  .carduser_infos {
    h2 {
      font-size: 30px;
      text-align: center;
      margin: 20px 0px 10px 0px;
    }
    p {
      text-align: center;
      margin: 0px;
    }
  }
}
