@import "./assets/styles/styles.scss";
.App {
  background-color: #00838f;
  height: 100vh;

  a {
    color: $color__Link;
  }
  a:hover {
    color: $color__Link--hover;
  }
}

@media (prefers-reduced-motion: no-preference) {
}
